@charset "UTF-8";
/*font-family: "Merriweather Sans", sans-serif;
"Shippori Mincho", serif;
font-family: "Noto Sans JP", sans-serif;*/
/* ==========
  base
========== */
:root {
  --base-font-size: 16px;
  --small-font-size: 14px;
  --color-light-green: #f0f5e1;
  --color-grass-green: #96c519;
  --color-green: #1b9240;
  --color-moss-green: #468459;
  --color-dark-green: #0c4324;
  --color-white: #fff;
  --color-black: #000;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, li, h1, h2, h3, h4, h5, h6 {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ==========
  parts
========== */

.section-title {
  text-align: center;
  color: var(--color-moss-green);
  font-size: clamp(18px, 16px + 0.625vw, 24px);
  min-height: 0vw;
  font-weight: 700;
}

.content-title {
  margin: 32px 0 20px;
  color: var(--color-dark-green);
  font-size: 24px;
}

.logo-title {
  font-size: 24px;
  color: var(--color-moss-green)
}

.logo-title > img {
  display: inline-block;
}

.logo-title-en {
  display: inline-block;
  font-weight: bold;
}


.button.plain {
  display: block;
  width: max-content;
  margin: 32px auto 0;
  padding: 5px 24px;
  border: 1px solid #000;
  border-radius: 6px;
  font-size: var(--small-font-size);
  color: #000;
  text-align: center;
}

/* ==========
  header
========== */

.header {
  position: absolute;
  top:0;
  width: 100%;
  height: 64px;
  padding: 16px 0;
}

.header.relative {
  position: relative;
  background-color: var(--color-white);
}

.header.relative ul > li > a {
  color: var(--color-moss-green);
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 32px 0 48px;
}

.main-logo {
  z-index: 200;
}

@media (max-width: 767px) {
  .header-container {
    margin: 0 16px;
  }
}

/* ==========
  header-nav
========== */

.header-nav-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  z-index: 100;
}

.pc-nav-container {
  display: grid;
  grid-template-columns: repeat(2,max-content);
}

.header-nav {
  align-self: center;
}

.header-nav-list {
  font-size: var(--small-font-size);
}

.header-nav-list > li {
  display: inline-block;
  margin: 0 clamp(5px, -48.57px + 5.357vw, 20px);
  font-size: 0;
}

.header-nav-list > li > a {
  font-size: var(--small-font-size);
  color: var(--color-white);
}

.reserve-inquiry-container{
  display: block;
  margin-left: clamp(10px, -82.85px + 9.285vw ,36px);
}

.reserve-inquiry-btn{
  width: 172px;
  padding: 11px 16px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: var(--color-dark-green);
  font-size: var(--small-font-size);
  font-weight: 700;
  color: #fff;
}

@media (max-width: 950px) {
  .pc-nav-container {
    grid-template-columns: none;
    justify-items: end;
    gap: 10px;
  }

  .header-nav-list > li {
    margin: 0 clamp(5px, -37.19px + 5.494vw, 15px);
  }
}

@media (width <= 767px){
  .header-nav,
  .reserve-inquiry-container {
    display: none;
  }
}

/* ==========
  hamburger
========== */
.hamburger-btn {
	position: relative;
	width: 32px;
	height: 32px;
	border-radius: 3px;
	cursor: pointer;
	z-index: 150;
}	

.hamburger-btn-area {
	width: 100%;
	height: 100%;
	transition: all 0.6s;
}

.hamburger-btn-area.open {
	transform: rotate(360deg);
}

.hamburger-btn span {
	position: absolute;
	left: 0;
	right: 0;
	display: block;
	height: 3px;
	border-radius: 3px;
	background-color: var(--color-moss-green);
	transition: all 0.6s;
}

.hamburger-btn span:nth-of-type(1) {
	top: 4px;
}

.hamburger-btn span:nth-of-type(2) {
	top: 15px;
}

.hamburger-btn span:nth-of-type(3) {
	top: 26px;
}

.hamburger-btn.open span {
	background-color: var(--color-moss-green);
}

.hamburger-btn.open span:nth-of-type(1){
	top: 14px;
	transform-origin: center;
	transform: rotate(45deg);
}

.hamburger-btn.open span:nth-of-type(2){
	opacity: 0;
}

.hamburger-btn.open span:nth-of-type(3){
	top: 14px;
	transform-origin: center;
	transform: rotate(-45deg);	
}

.mask {
	position: fixed;
	inset: 0;
	display: none;
	background-color: var(--color-white);
	transition: all 0.6s;
  z-index: 100;
}

.mask.open {
	display: revert;
  height: 100vh;
  animation-name: fadeInAnime;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  padding: 80px 60px;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mask.open .mask-nav-list li{
  margin: 16px 32px auto;
}

.mask.open .mask-title {
  margin-top: 42px;
  font-size: 24px;
  font-weight: bold;
  color: var(--color-dark-green)
}

.mask.open .reserve-inquiry-btn {
  display: block;
  margin: 32px auto;
}

.mask.open .mask-news-list > li{
  margin: 16px 32px auto;
}

@media (width >= 768px) {
  .hamburger-btn {
    display: none;
  }
}

@media (max-width: 767px) {
  body.open .main-logo,
  body.open .hamburger-btn{
    position: fixed;
  }

  body.open .main-logo{
    top: 29px;
    left: 16px;
  }

  body.open .hamburger-btn{
    top: 30px;
    right: 18px;
  }
}
/* ==========
  main-visual
========== */

#main-visual {
  position: relative;
  z-index: -1;
}

.main-visual-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

/* ==========
  main-visual
  catch-copy
========== */

.catch-copy-container {
  position: relative;
  margin: 0 auto;
  display: grid;
  place-content: center;
  z-index: 100;
}
.catch-copy {
  z-index: 2;
}
.catch-copy-container::before {
  position: absolute;
  top: 20%;
  content: url("../images/_x31_7.png");
  width: 150px;
  height: 150px;
  /*
  border-radius: 56% 44% 71% 29% / 75% 80% 20% 25% ;
  filter: blur(10px);
  opacity: 0.6;
  background-color: #F0F5E1;
  */
  z-index: 1;
  
}

.catch-copy-container::after {
  position: absolute;
  top: 60%;
  left: -60%;
  content: url("../images/_x32_1.png");
  width: 110px;
  height: 110px;
  /*
  filter: blur(10px);
  opacity: 0.6;
  background-color: #f0f3e7;
  */
  z-index: 1;
}

.catch-copy {
  writing-mode: vertical-rl;
  line-height: 50px;
  font-size: 28px;
  font-family: "Shippori Mincho", serif;
  font-weight: 600;
  color: var(--color-moss-green);
  letter-spacing: 15px;
}

/* ==========
  carousel
========== */

.carousel {
  width: 78%;
}

.carousel > a {
  display: block;
}
.carousel picture {
  display: block;
  width: 100%;
}
.carousel img{
  width: 100%;
  height: 580px;
}

/* ==========
  news
========== */

#news {
  /*margin: -50px 0 120px */
  margin: 0 0 120px;
}

.news-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 10px 0;
  font-family: "Noto Sans JP", sans-serif;
  color: var(--color-moss-green);
  background-color: #fff;
  box-sizing: border-box;
  z-index: 500;
}

.news-container > .scetion-title {
  font-weight: 700;
  font-size: 24px;
}

.news-container > .section-title > span {
  font-weight: 400;
  font-size: 18px;
}

.news-items-container {
  justify-self: start;
}

.news-item > p {
  display: inline-block;
  margin: 0;
}

.news-item > .date{
  font-size: var(--base-font-size);
  color: var(--color-black);
}

.news-item > .news-category {
  width: 88px;
  padding: 2px 16px;
  border: none;
  border-radius: 10px;
  background-color:  var(--color-moss-green);
  font-size: var(--small-font-size);
  color: var(--color-white);
  text-align: center;
}

.news-item > .news-description {
  margin-left: 28px;
  color: var(--color-black);
}

@media (max-width: 900px) {
  .news-item {
    display: grid;
    grid-template-areas: 
    "date desc"
    "cate desc"
    ;
    place-content: center;
    gap: 10px;
  }

  .news-item > .date {
    text-align: center;
    grid-area: date
  }

  .news-category {
    grid-area: cate
  }

  .news-description {
    align-self: center;
    grid-area: desc;
  }
}

@media(max-width: 767px) {

  #news {
    margin-bottom: 70px;
  }

  .news-container {
    display: block;
    height: auto;
    padding: 0 16px;
  }

  .news-container > .section-title {
    text-align: left;
  }

  .news-items-container {
    margin: 16px auto;
  }

  .news-container > a {
    display: block;
    width: max-content;
    margin-left: auto;
  }
}
/* ==========
  concept
========== */

#concept {
  margin-bottom: 50px;
  overflow-y: clip;
  overflow-x: hidden;
}

.concept-outer-container {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: clip;
  padding-bottom: 100px;
}

.concept-outer-container::before {
  position: absolute;
  top: 60px;
  left: 125px;
  content: "Concept";
  color: #dae2c2;
  font-size: clamp(72px, 6.8vw + 46.3px, 134px);
  max-height: 0vw;
  z-index:-1;
}

.concept-outer-container::after {
  position: absolute;
  bottom: 0;
  right: -80px;
  content: url("../images/BGicon_Light@3x.svg");
  width: 440px; 
  height: 336px;
  z-index: -1;
}

.concept-inner-container {
  display: grid;
  grid-template-columns: 288px max-content;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  gap: 80px;
  overflow-y: clip;
  overflow-x: hidden;
}

.concept-content {
  font-family: "Noto Sans JP", sans-serif;
}

.concept-content > img{
  width: 123px;
}

.concept-content > h2 {
  margin: 38px 0;
  font-size: 32px;
  line-height: 54px;
  font-weight: 700;
  color: var(--color-moss-green);
  white-space: pre-wrap;
}

.concept-content > p {
  font-size: var(--base-font-size);
  line-height: 22.5px;
  font-weight: 400;
  color: var(--color-black);
}

.concept-content > .btn {
  display: block;
  width: 154px;
  margin: 0 16px 0 auto;
}

.concept-images {
  justify-self: end;
}

.concept-images > img {
  width: clamp(278px, 237.34px + 12.708vw, 400px);
}

@media (max-width: 767px) {
  #concept {
    padding: 0 16px
  }

  .concept-outer-container::before {
    top: 42%;
    left: 10%;
  }
  
  .concept-inner-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
    max-width: 500px;
    justify-content: center;
  }

  .concept-inner-container::after {
    position: absolute;
    bottom: -90px;
    right: -80px;
    content: url("../images/BGicon_Light@3x.svg");
    width: 440px; 
    height: 336px;
    z-index: -1;
  }
  .concept-content > img {
    margin-top: 33px
  }

  .concept-content > h2 {
    white-space: normal;
  }

  .concept-content > .btn {
    display: block;
    width: 154px;
    margin: 33px auto 0;
  }
}
/* ==========
  course
========== */

#course {
  font-family: "Noto Sans JP", sans-serif;
  background-image: url("../images/wave.svg");
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
  background-clip: padding-box;
  z-index: -1;
}
.course-outer-container {
  position: relative;
  width: 100%;
  padding-top: 150px;
  overflow: hidden;
  z-index: 10;
}

.course-outer-container::before {
  position: absolute;
  top: 15%;
  left: 15%;
  content: "Concept";
  color: #dae2c2;
  font-size: clamp(72px, 6.8vw + 46.3px, 134px);
  max-height: 0vw;
  z-index: -10;
}

.course-inner-container::after {
  position: absolute;
  bottom: 50px;
  right: -80px;
  content: url("../images/BGicon_Green@3x.svg");
  width: 440px; 
  height: 336px;
  z-index: -10;
}

.course-header {
  margin-bottom: 64px;
}

.course-header > img {
  width: 211px;
  height: 25px;
  margin: 0 auto 20px;
}

.course-inner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  max-width: 800px;
  margin: 0 auto;
}

.course-content {
  margin-top: 32px;
  font-family: "Noto Sans JP", sans-serif;
}

.course-list {
  list-style-type: disc ;   
}

.course-list > li {
  margin: 0 0 13px 40px;
  color: var(--color-black);
  font-size: 18px;
  list-style-type: disc;  
}

.course-outer-container > .button.plain {
  margin-bottom: 160px;
}

@media (max-width: 767px) {

  #course {
    padding: 0 16px;
  }

  .course-outer-container::before {
    top: 15%;
    left: 7%;
  }

  .course-inner-container {
    display: block;
  }

  .course-item > img {
    margin: 0 auto;
  }

  .course-content {
    width: 343px;
    margin: 0 auto;
  }
  
  .course-item:nth-of-type(1) {
    margin-bottom: 32px;
  }

  .course-outer-container > .button.plain {
    margin-bottom: 60px;
  }
}

/* ==========
  customer-review
========== */

#customer-review {
  margin-bottom: 150px;
}

.review-header {
  width: 100%;
  margin-bottom: 60px;
}

.bottom-carousel {
  height: 320px;
  z-index: -10;
}

.bottom-carousel img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.free-title {
  position:relative;
}

.free-title::before {
  content: "";
  position: absolute;
  top: clamp(-85px, 6.04vw + 41px, -143px);
  left: 50%;
  width: clamp(253px, 36.14vw + 138px, 600px);
  aspect-ratio: 75/61;
  background-color: #fff;
  border-radius: 50%;
  z-index: -1;
  transform: translateX(-50%);
  min-height: 0vw;
}

.review-header .section-title.upper {
  position: absolute;
  top: -2em;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  margin: 0 auto 24px;
}

.review-header .section-title.upper::before,
.review-header .section-title.upper::after {
  display: inline-block;
  width: 16px;
  height: 24px;
}

.review-header .section-title.upper::before {
  content: url("../images/Head_02_DecoLeft16@3x.svg");
  margin-right: 18px;
}

.review-header .section-title.upper::after {
  content: url("../images/Head_02_DecoRight16@3x.svg");
  margin-left: 18px;
}

.review-inner-container {
  margin-top: 60px;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 55px;
  max-width: 900px;
  margin: 0 auto;
}

.review-item > img {
  margin: 0 auto;
  border-radius: 50%;
}

.review-item > .content-title {
  margin: 32px 0 24px;
  text-align: center;
}

.review-item > p {
  font-size: 18px;
}

@media (max-width: 900px) {
  .review-inner-container {
    padding: 0 16px;
  }
}

@media (max-width: 767px) {

  .reviews {
    display: block;
  }

  .review-item {
    margin-bottom: 48px;
  }

  .review-item > img {
    margin: 0 auto;
  }

  .review-item > p {
    max-width: 500px;
    margin: 0 auto;
  }
}
/* ==========
  access
========== */

#access {
  background-image: url("../images/wave.svg");
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
  padding: 150px 16px 0 ;
  z-index: -10;
}

.access-header > .section-title:nth-of-type(1) {
  text-align: center;
}

.access-header > .section-title:nth-of-type(1)::before,
.access-header > .section-title:nth-of-type(1)::after {
  display: inline-block;
  width: 16px;
  height: 24px;
}

.access-header > .section-title:nth-of-type(1)::before {
  content: url("../images/Head_02_DecoLeft16@3x.svg");
  margin-right: 18px;
}

.access-header > .section-title:nth-of-type(1)::after {
  content: url("../images/Head_02_DecoRight16@3x.svg");
  margin-left: 18px;
}

.access-inner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 58px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 16px;
}

.section-title.access {
  text-align: left;
}

.tel, .tel-number {
  color: var(--color-moss-green);
  font-weight: 700;
} 
.tel-number {
  font-size: 28px;
}

.reserve-btn {
  display: block;
  max-width: 300px;
  margin-top: 32px;
}

.map {
  width: 100%;
}

iframe {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}

@media (max-width:767px) {
  
  .access-outer-container {
    padding: 0 16px;
  }

  .access-description {
    max-width: 460px;
    margin: 0 auto;
  }

  .access-inner-container {
    display: block;
  }

  .service-date,
  .reserve-btn {
    margin: 32px auto 40px;
  }

}

/* ==========
  footer
========== */

.footer {
  width: 100%;
  background-color: var(var(--color-light-green));
}

.footer-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 47px;
  padding: 40px 0;
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  gap: 26px;

}

.copyright {
  margin: 0;
  padding: 12px 0;
  background-color: var(--color-moss-green);
  text-align: center;
  font-size: 12px;
  color: #fff;
}

@media (max-width: 950px) {
  .footer-nav {
    grid-template-columns: repeat(3, max-content);
  }
}

@media (max-width: 767px) {
  .footer-list-container {
    flex-direction: column;
  }

  .footer-nav {
    display: block
  }

  .footer-nav > li {
    display: block;
    text-align: center;
    margin: 16px auto;
    letter-spacing: 2px;
  }
}

/* ==========
  hero
========== */

#hero {
  margin-top: -20px;
}

.hero-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.hero-title-container {
  position: relative;
  width: 22%;
  align-self: center;
  text-align: center;
  z-index: 2;
}

.hero-title {
  margin: 0;
  font-size: 32px;
  font-weight: 500;
  color: var(--color-moss-green);
}

.hero-title > span {
  display: block;
  margin: 0;
  font-size: 18px;
}

.hero-image {
  position: relative;
  width: 78%;
  z-index: -10;
  overflow-y: clip;
}

.hero-image > picture img{
  width: 100%;
  height: 400px;
  border-radius: 9% 0% 0% 4% / 51% 0% 0% 49%  ;
  z-index: -10;
}

.hero-image > img {
  position: absolute;
  top: 0;
  left: -3%;
  z-index: -100;
}

.hero-title-container::after {
  position: absolute;
  top: 0;
  left: 10%;
  content: url("../images/_x32_1.png");
  width: 110px;
  height: 110px;
  z-index: -10;
}

@media (max-width: 767px) {
  .hero-image > picture img{
    width: 100%;
    height: 400px;
    border-radius: 0% 0% 0% 75% / 0% 0% 0% 100%   ;
    z-index: -10;
  }

  .hero-image > img {
    position: absolute;
    top: -35%;
    left: 0%;
    z-index: -100;
  }

}
/* ==========
  breadcrumb
========== */

#breadcrumb {
  position: relative;
  margin-top: -10px;
  margin-bottom: 120px;
  background-color: #fff;
  z-index: 10;
}

.breadcrumb {
  margin-left: clamp(16px, -40.35px + 15.02vw, 152px);
}

.breadcrumb > li {
  display: inline-block;
  margin: 0 8px;
  padding: 16px 0px;
  font-size: var(--small-font-size);
}

.breadcrumb > li:not(:last-child)::after {
  content: ">";
  display: inline-block;
  margin-left: 25px;
}

.breadcrumb > li > a {
  display: inherit;
}

.breadcrumb > li > a:hover  {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .breadcrumb {
    
  }
}
/* ==========
  flow
========== */

#flow {
  margin-bottom: 100px;
  overflow-y: clip;
  overflow-x: hidden;
}

.flow.concept-outer-container::before {
  content: "Flow";
}

.flow-list > li {
  margin: 16px auto;
  list-style-type: decimal;
}

/* ==========
  service-point
========== */

#service-point {
  margin-bottom: 150px;
}

.section-header {
  width: 100%;
  margin-bottom: 60px;
}

.top-title {
  position:relative;
  margin-bottom: 20px;
}

.section-header .top-title.upper {
  position: absolute;
  top: -2em;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  margin: 0 auto 24px;
}

.section-header .section-title.upper::before,
.section-header .section-title.upper::after {
  display: inline-block;
  width: 16px;
  height: 24px;
}

.section-header .section-title.upper::before {
  content: url("../images/Head_02_DecoLeft16@3x.svg");
  margin-right: 18px;
}

.section-header .section-title.upper::after {
  content: url("../images/Head_02_DecoRight16@3x.svg");
  margin-left: 18px;
}

.service-point-inner-container {
  margin-top: 60px;
}

.points {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 55px;
  max-width: 900px;
  margin: 0 auto;
}

.point-item > img {
  margin: 0 auto;
  border-radius: 10px;
}

.point-item > .content-title {
  margin: 32px 0 24px;
  text-align: center;
}

@media (max-width: 900px) {
  .service-point-inner-container {
    padding: 0 16px;
  }
}

@media (max-width: 767px) {

  .points {
    display: block;
  }

  .point-item {
    margin-bottom: 48px;
  }

  .point-item > img {
    margin: 0 auto;
  }

}